<div class="flex h-full">
  <.menu active_tab={@active_tab} user={@user}  active_profile={@active_profile} />
  <div class="flex flex-grow flex-col p-4 space-y-4">
    <div>Available imports:</div>
    <ul>
      <li>
      </li>
    </ul>
  </div>
  <form phx-submit="parse" class="flex flex-col flex-grow p-4 space-y-4">
    <textarea name="json"></textarea>
    <button>submit</button>
  </form>
</div>
