<div>
  <.form
    for={@form}
    id="account-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
    >
    <.input field={@form[:name]} autocomplete="off" label="Name" />
    <.input field={@form[:initial_balance]} autocomplete="off" type="number" label="Initial Balance" step="0.01" />
  
    <footer class="flex justify-end gap-2">
      <button class="btn btn-primary" phx-disable-with="Saving...">Save</button>
    </footer>
  </.form>
</div>
