<div class="flex h-full">
  <.menu active_tab={@active_tab} />

  <div class="container-xl">
    <form id="upload-form" phx-submit="save" phx-change="validate">
      <.live_file_input upload={@uploads.invoice} />
      <.button>Upload</.button>
    </form>

    <%= for err <- upload_errors(@uploads.invoice) do %>
      <p class="alert alert-danger"><%= err %></p>
    <% end %>
  </div>
</div>
